
@model CustomerProcessViewModel

@{
    Layout = null;
}
<link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />


<div class="container">
    <br />
    <form method="post">
        <label>Müşteri Adı Soyadı</label>
        <input type="text" class="form-control" asp-for="Name"/>
        <br />
        <label>Çekilecek Tutar</label>
        <input type="text" class="form-control" asp-for="Amount" />
        <br />

        <button class="btn btn-warning">Para Çek</button>
    </form>
</div> 