@model RepositoryDesignPattern.EntityLayer.Concrete.Category

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <form method="post">
        <input type="hidden" asp-for="CategoryID" />
        <label>Kategori Adı</label>
        <input type="text" asp-for="CategoryName" class="form-control">
        <br />
        <button class="btn btn-Dark"> Güncelle </button>


    </form>
</div>